/* HEADER REWORKED */
img.emailThemeHeaderLogo {
    width: 115px;
    height: auto;
}
img.emailThemeFooterLogo {
    width: 115px;
    height: auto;
}
#combinedheadersnippetWebVersion.snippet_block_text_twocol table.flexibleContainerLeft {
    width: 350px;
}
#combinedheadersnippetWebVersion.snippet_block_text_twocol table.flexibleContainerRight {
    width: 190px;
}
#combinedheadersnippetWebVersion.snippet_block_text_twocol .flexibleContainerCell {
    padding-top: 10px;
    padding-bottom: 10px;
}
#combinedheadersnippetfullwith.snippet_block_text_image_left .flexibleContainerLeft .imageContent {
    padding-top: 0px;
    padding-left: 0px;
}
#combinedheadersnippetfullwith.snippet_block_text_image_left .flexibleContainerLeft .flexibleImage,
#combinedheadersnippetfullwith.snippet_block_text_image_left .flexibleContainerLeft .flexibleImage img {
    width: 115px;
}
#combinedheadersnippetfullwith.snippet_block_text_image_left .flexibleContainerCell {
    padding: 0px;
}
#combinedheadersnippetfullwith .flexibleContainerCell {
    padding-top: 0px;
    padding-bottom: 0px;
}

#combinedheadersnippetfullwith .flexibleContainerCell {
    padding-left: 0px;
    padding-right: 0px;
}

#combinedheadersnippetfullwith.snippet_block,
.snippet_block.footer_header_part {
    width: 100%;
    /*background-color: #c4c700;*/
}

#combinedsnippetfooter .snippet_block_text_twocol .flexibleContainerLeft,
#combinedsnippetfooter .snippet_block_text_twocol .flexibleContainerLeft .flexibleImage {
    background-color: rgb(229, 229, 226);
}
#combinedsnippetfooter .snippet_block_text_twocol .flexibleContainerRight,
#combinedsnippetfooter .snippet_block_text_twocol .flexibleContainerRight .flexibleImage {
    background-color: rgb(229, 229, 226);
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinogreen,
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinogreen .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinogreen,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinogreen .contenTable {
    background-color: #c4c700;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinoorange,
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinoorange .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinoorange,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinoorange .contenTable {
    background-color: #d57d24;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinopink,
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinopink .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinopink,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinopink .contenTable {
    background-color: #c85094;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinobrown,
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinobrown .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinobrown,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinobrown .contenTable {
    background-color: #a27646;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinolightblue,
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_kinolightblue .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinolightblue,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinolightblue .contenTable {
    background-color: #afd4e6;
}
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinolightblue .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinolightblue .contenTable p {
    color: Black;
}
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinogreen .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_kinogreen .contenTable p {
    color: #ffffff;
}

#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinogreen,
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinogreen .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinogreen,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinogreen .contenTable {
    background-color: #c4c700;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinoorange,
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinoorange .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinoorange,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinoorange .contenTable {
    background-color: #d57d24;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinopink,
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinopink .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinopink,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinopink .contenTable {
    background-color: #c85094;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinobrown,
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinobrown .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinobrown,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinobrown .contenTable {
    background-color: #a27646;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinolightblue,
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_kinolightblue .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinolightblue,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinolightblue .contenTable {
    background-color: #afd4e6;
}
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinolightblue .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinolightblue .contenTable p {
    color: black;
}
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinogreen .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_kinogreen .contenTable p {
    color: #ffffff;
}

#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_white,
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_white .contenTable
#combinedsnippetfooter .footer_header_part.kino_sb_bg_white,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_white .contenTable {
    background-color: #ffffff;
    color: #000000;
}
#combinedsnippetfooter .footer_header_part.kino_sb_bg_white .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_white .contenTable p {
    color: #000000;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_white,
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_white .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_white,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_white .contenTable {
    background-color: #ffffff;
    color: #000000;
}
#combinedsnippetfooter .footer_header_part.kino_sb_fg_white .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_white .contenTable p {
    color: #000000;
}

#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_blue,
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_blue .contenTable
#combinedsnippetfooter .footer_header_part.kino_sb_bg_blue,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_blue .contenTable {
    background-color: #0050a0;
}
#combinedsnippetfooter .footer_header_part.kino_sb_bg_blue .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_blue .contenTable p {
    color: #ffffff;
}
.footerhelfenlinkbutton a,
.footerhelfenlinkbutton a:hover,
.footerhelfenlinkbutton a:visited {
    color: white !important;
}
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_blue,
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_blue .contenTable,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_blue,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_blue .contenTable {
    background-color: #0050a0;
}

#combinedsnippetfooter .footer_header_part.kino_sb_fg_blue .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_blue .contenTable p {
    color: #ffffff;
}

#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_background,
#combinedheadersnippetfullwith.snippet_block.kino_sb_bg_background .contenTable
#combinedsnippetfooter .footer_header_part.kino_sb_bg_background,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_background .contenTable {
    background-color: #e5e5e2;
}
#combinedsnippetfooter .footer_header_part.kino_sb_bg_background .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_bg_background .contenTable p {
    color: #000000;
}

#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_background,
#combinedheadersnippetfullwith.snippet_block.kino_sb_fg_background .contenTable
#combinedsnippetfooter .footer_header_part.kino_sb_fg_background,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_background .contenTable {
    background-color: #e5e5e2;
}

#combinedsnippetfooter .footer_header_part.kino_sb_fg_background .contenTable a,
#combinedsnippetfooter .footer_header_part.kino_sb_fg_background .contenTable p {
    color: #000000;
}

#combinedheadersnippetWebVersion.snippet_block_text_intro .flexibleContainerCell {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
#combinedheadersnippetWebVersion.snippet_block_text_twocol table.flexibleContainerLeft,
#combinedheadersnippetWebVersion.snippet_block_text_twocol table.flexibleContainerRight {
    background-color: #e5e5e2;
}
/* Special reset for Header Full width does not work

#combinedheadersnippetfullwith .flexibleContainer {
    width: 100%;
}
*/
/* special styles footer*/
.combinedfooter a {
    color: #0050a0;
    font-size: 12px;
}
combinedsnippetfooter,
#combinedsnippetfooter p {
    color: #333333;
    font-size: 12px;
    line-height: 19px;
}
#combinedsnippetfooter .infopart {
    padding-top: 40px;
    padding-bottom: 40px;
}
#combinedsnippetfooter .infopart.snippet_block_text_image_left .flexibleContainerLeft img.flexibleImage {
    width: 115px;
}

#combinedsnippetfooter .snippet_block_text_twocol  table.flexibleContainerLeft,
#combinedsnippetfooter .snippet_block_text_twocol  table.flexibleContainerRight{
    background-color: #e5e5e2;;
}

#combinedsnippetfooter .footer_header_part.snippet_block_text_twocol  table.flexibleContainerLeft,
#combinedsnippetfooter .footer_header_part.snippet_block_text_twocol  table.flexibleContainerRight{
    background-color: inherit;
}

/* remove padding intro block */
.snippet_block_text_intro.combinedfooter .flexibleContainerCell {
    padding: 0px;
}

/* remove padding from spcial twocol block */
.snippet_block_text_twocol.combinedfooter .flexibleContainerCell {
    padding: 0px;
}
.combinedfooter .flexibleContainerCell {
    padding-top: 0px;
    padding-bottom: 0px;
}
.combinedfooter .footer_header_part .flexibleContainerCell {
    padding-top: 10px;
    padding-bottom: 5px;
}

#mediaiconsspecialsnippet.snippet_block a,
#mediaiconsspecialsnippet.snippet_block a:hover,
#mediaiconsspecialsnippet.snippet_block a:visited {
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: transparent;
}
