body {
    line-height: 1;
    font-family: "Arial",arial,sans-serif;
    font-family: 'PT Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Magra', serif;
    margin-bottom: 0.75em;
}

h1 { font-size: 1.3em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; margin-bottom: 0.125em; padding: 0;}

p {
    font-size: 1em;
    line-height: 1.518em;
    margin: 0 0 0.75em 0;
}

.container {
    width: 1020px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
}
