header {
  .navbar-default {
    background-color: white;
    border-color: transparent;
    &:active {
      background-color: white;
    }
  }
  #top_menu.navbar-nav {
    background-color: transparent !important;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Magra', serif;
    margin: 1.2em 0 0.15em 0;
    padding: 0.26em 0.938em 0.26em 0;
    font-family: 'PT Sans', sans-serif !important;
  > li > a {
    color: black !important;
    margin: 39px 0 39px;
    padding: 2px 22px;
  }
  }
  .nav {
    a {
      text-transform: uppercase;
    }
    a:hover {
      background-color: white !important;
      color: $kinoblue !important;
    }
    a:active {
      background-color: white !important;
      color: $kinoblue !important;
    }
  }
  .navbar-nav > li > .dropdown-menu {
    margin-top: 22px;
  }
  header .dropdown-menu {
    background-color: white;
    a {
      text-transform: capitalize !important;
    }
    a:hover {
      background-color: white !important;
      color: $kinoblue !important;
    }
    a:active {
      background-color: white !important;
      color: $kinoblue !important;
    }
  }
}
  .navbar-brand {
    height: auto !important;
    img {
    min-height: 115px;
    }
  }
  header a.navbar-brand img {
    max-height: inherit !important;
  }

footer {
    padding-top: 1.7em;
    width: 100%;
    min-height: 24.125em;
    background-color: #e5e5e2;
    color: Black;
    font-family: 'Oxygen', serif;
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif !important;
    a {
      color: Black;
    }
    a:hover {
      background-color: #e5e5e2;
      color: $kinoblue;
      text-decoration: none;
    }
  .col-md-4 {
    border-right: 1px solid #808080;
  }
  .col-md-4:last-child {
    border-right: none;
  }
}

#top_menu > li {
  > a {
    border-right: 1px solid #a9a9a2;
  }
    &:last-child > a {
        border-right: none;
  }
}

.navbar.navbar-static-top ul.nav > li.divider {
  border-right: none;
}

.navbar.navbar-static-top {
  min-height: 139px;
}