/* FONT */
body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 0.02em;
}
strong {
    font-weight: 600;
}
.text-muted,
blockquote footer, blockquote small, blockquote .small,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #555;
}

/* DROPDOWN MENU */
.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    font-size: 17px;
    color: #666;
    filter: none;
    background: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: none white;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #0050a0;
    text-decoration: underline;
    filter: none;
    background: none transparent;
}
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: none white;
}

/* BUTTONS */
/* Remove radius, gradients and shadow */
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    background-image: none;
    background-repeat: none;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-color:#002c59;
}
.btn-xs, .btn-group-xs > .btn {
    border-radius: 0;
}

/* HEADER AND MAIN MENU */
/* Logo */
header a.navbar-brand img {
    max-height: 135px !important;
}
/* Default Navbar Font */
.navbar-default {
    box-shadow: none;
    border: none;
}
.navbar-default .navbar-nav {
    font-size: 21px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing: 0.06em;
}
/* Level 1: line height, borders and distance */
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 22px;
        margin: 51px 0;
        border-left: 1px solid rgb(169, 169, 162);
    }

    .navbar-default .navbar-nav > li:first-child > a {
        border-left: none;
    }

    .navbar-default .navbar-nav > li:last-child > a {
        border-left: 1px dotted #DDD;
        color: #DDD;
    }

    .navbar-default .navbar-nav > li:last-child > a b {
        font-weight: normal;
    }
}
.navbar-default .navbar-nav > li > a {
    line-height: 33px;
}
/* Level 1: active link: reset background */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: underline;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #0050a0;
}
/* Level 1: hide divider */
.navbar-default .navbar-nav .divider {
    display: none;
}
/* Level 2: dropdown menu: height and width */
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    line-height: 1.375;
    padding: 0.5em 1.5em;
}
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > .dropdown-menu {
        padding: 2em 2em 0.5em 2em;
        top: 100px;
    }
}

/* FOOTER */
footer {
    font-size: 12px;
    background: #e5e5e2;
}
footer > .container { padding-top: 46px; }
footer ul a { color: black; }
footer h4 { font-size: 14px; }
