/* KINO MAIN CSS */

/* FONT */
body, .para_large {
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.04em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 0.02em;
}
strong {
    font-weight: 600;
}
.text-muted,
blockquote footer, blockquote small, blockquote .small,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #555;
}

/* PAGER and BADGES */
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: black;
}
.badge {
    color: black;
}

/* DROPDOWN MENU */
.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    font-size: 17px;
    color: #666;
    filter: none;
    background: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: none white;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #0050a0;
    text-decoration: underline;
    filter: none;
    background: none transparent;
}
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: none white;
}

/* BUTTONS */
/* Remove radius, gradients and shadow */
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    /*border-color:#002c59;*/
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid transparent;
    background-color: #0050a0;
    padding: 9px 14px 10px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
}
.btn-xs, .btn-group-xs > .btn {
    border-radius: 0;
}

/* NAVTABS */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #000000;
    background-color: #ffffff;
}
.tab-content > .tab-pane {
    background-color: #ffffff;
    padding: 40px;
    border: 1px solid #dddddd;
    border-top: none;
}
/* Fix top distance for the add_to_cart button in opc-pages below the payment-option-tab-panes */
/* HINT: height of the tab panes is calculated by java script and will not take padding or margin into account */
.ppt_opc_cb_outer a#add_to_cart.mt16 {
    margin-top: 100px !important;
}

/* NAVPILLS */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: white;
}

/* BREADCRUMB */
.breadcrumb > .active {
    color: #000000;
}

/* HEADER AND MAIN MENU */
/* Affix Top Menu */
header {
    height: 140px;
}
header .navbar.navbar-static-top {
    width:100%;
}
html[data-editable="1"] header .navbar.navbar-default.navbar-static-top.affix {
    position: relative !important; /* HINT: no affix for editing mode */
}
/* Logo */
header a.navbar-brand img {
    max-height: 135px !important;
}
/* Default Navbar Font */
.navbar-default {
    box-shadow: none;
    border: none;
}
.navbar-default .navbar-nav {
    font-size: 21px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing: 0.06em;
}

/* Fix for menus with too many entries */
#top_menu {
    max-width: 800px;
    max-height: 137px;
    margin-top: 54px;
}


/* Level 1: line height, borders and distance */
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 22px;
        margin: 0;
        border-left: 1px solid rgb(169, 169, 162);
    }

    .navbar-default .navbar-nav > li:first-child > a {
        border-left: none;
    }

    .navbar-default .navbar-nav > li:last-child > a {
        border-left: 1px dotted #DDD;
        color: #DDD;
    }

    .navbar-default .navbar-nav > li:last-child > a b {
        font-weight: normal;
    }
}
.navbar-default .navbar-nav > li > a {
    line-height: 33px;
}
/* Level 1: active link: reset background */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: underline;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #0050a0;
}
/* Level 1: hide divider */
.navbar-default .navbar-nav .divider {
    display: none;
}
/* Level 2: dropdown menu: height and width */
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    line-height: 1.375;
    padding: 0.5em 1.5em;
}
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > .dropdown-menu {
        padding: 2em 2em 2em 2em;
        top: 100px;
    }
}
/* Navbar extra buttons on right side */
#top_menu_buttons {
    float: right;
}
#top_menu_buttons > a {
    margin: 51px 0;
    margin-left: 1em;
}
@media (max-width: 1200px) {
    #top_menu_buttons {
        float: left;
    }
    header {
        height: 273px;
    }
}
@media (max-width: 767px) {
    #top_menu_buttons {
        display: none;
    }
    header {
        height: 140px;
    }
}

/* FOOTER */
footer {
    font-size: 12px;
    background: #e5e5e2;
}
footer > .container { padding-top: 46px; }
footer ul a { color: black; }
footer h4 { font-size: 14px; }

/* JQUERY VALIDATE */
.apf_container .has-feedback .form-control-feedback {
    right: 26px;
}
/* reset bootstrap setting for auth_partner_form */
.apf_container .has-feedback label ~ .form-control-feedback {
    top: initial;
}

.btn-primary {
    background-image: none;
    color: #ffffff;
    background-color: #0050a0;
    border-color: #0050a0;
    font-size: 15px;
    font-weight: 400;
    background-image: none;
}

#fsoforms_submit_button.btn-lg,
#fsoforms_submit_button.btn-lg:hover {
    color: #ffffff;
    background-color: #0050a0;
    border-color: #0050a0;
    font-size: 15px;
    font-weight: 400;
    background-image: none;
}

#oe_main_menu_navbar .dropdown-menu > li > a,
.oe_options .dropdown-menu > li > a,
.oe_options .dropdown-menu > li > a:hover{
    color: #666;
}

.oe_options .dropdown-menu > li.active > a {
    color: white;
}